repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: name-tests-test
    args: [--pytest-test-first]
  - id: no-commit-to-branch
    args: [--branch, master, --branch, dev]
  - id: trailing-whitespace

- repo: https://github.com/PyCQA/bandit
  rev: 1.7.5
  hooks:
  - id: bandit
    args: [-r, -ll, -c, pyproject.toml]
    additional_dependencies: ['bandit[toml]']

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black
    args: [--safe, --quiet]

- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
    args: [--profile, black, --filter-files, -l, "120"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.1.1
  hooks:
  - id: mypy
    args: [--no-strict-optional, --ignore-missing-imports]
    additional_dependencies: [
      isort>=5,
      platformdirs==2.2.0,
      py==1.11,
      tokenize-rt==3.2.0,
      tomlkit>=0.10.1,
      types-toml>=0.10.8.5,
    ]

- repo: https://github.com/python-poetry/poetry
  rev: 1.4.2
  hooks:
  - id: poetry-check
  - id: poetry-lock
  - id: poetry-export
    args: ["-f", "requirements.txt", "-o", "requirements.txt"]

- repo: https://github.com/DanielNoord/pydocstringformatter
  rev: v0.7.3
  hooks:
  - id: pydocstringformatter
    args: [--max-summary-lines=2, --linewrap-full-docstring]
    files: hexabyte

- repo: https://github.com/PyCQA/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: [tomli>=2.0.1]

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-log-warn
  - id: python-no-eval
  - id: rst-backticks
    files: .*\.rst$
    types: [file]

- repo: https://github.com/pylint-dev/pylint
  rev: v2.17.1
  hooks:
  - id: pylint

- repo: https://github.com/regebro/pyroma
  rev: '4.2'
  hooks:
  - id: pyroma
    args: [-d, --min=9, .]

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py39-plus]

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.260
  hooks:
  - id: ruff
    args: [--fix]

- repo: https://github.com/rstcheck/rstcheck
  rev: v6.1.2
  hooks:
  - id: rstcheck
    args: [--report-level=warning, --ignore-directives, automodule]
    files: ^(docs/(.*/)*.*\.rst)
    additional_dependencies: [sphinx==6.1.3]
