* {
    transition: background 250ms linear, color 250ms linear;
}

Workbench {
    layers: base overlay notes notifications;
}

Body {
    width: 100%;
    layout: grid;
    grid-size: 6 1;
    grid-gutter: 1;
}

Editor {
    column-span: 6;
}

Editor.-diff {
    column-span: 3;
}

#sidebar {
    layer: overlay;
    margin: 0 0;
    width: 33%;
    overflow: hidden;
    }

Tabs {
    dock: top;
}

#sidebar ContentSwitcher {
    margin: 1 1;
    width: 100%;
    height: 100%;
}